.custom-uploader {
  border: 2px solid #808080 !important;
  height: 200px !important;
}

.custom-uploader svg {
  display: none !important;
}

.file-types {
    display: none;
}
 
.custom-uploader span{
    font-size: 16px !important;
}
.custom-uploader div {
  display: flex;
  justify-content: center;
}







