.hDEoCR svg {
    display: none;
    height: 300px !important;
    border: 2px solid gray !important;
}

.hDEoCR {
    height: 200px !important;
    border: 2px solid gray !important;
}

.sc-fhHczv {
    display: flex !important;
    justify-content: center !important;
}
.gRPNIK {
    display: flex !important;
    justify-content: center !important;
}

.sc-ggWZvA {
    font-size: 16px !important;
}
.iIlEMu {
    font-size: 16px !important;
}

.file-types {
    display: none;
}





